*,
*::before,
*::after 
{
 /* outline: 1px dashed red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}


body {
  background: linear-gradient(272.32deg, #08171C -5.68%, #0E4354 100.56%);
  margin: 0;
  padding: 0;
}
html, body {
  overflow-x: hidden;
}
@media (max-width: 500px) {
  * {
    max-width: 100vw !important;
  }
}