/* ===== Global Reset ===== */
* {
  box-sizing: border-box;
}

/* ===== Root Styles ===== */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
